<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix India – Watch TV Shows Online, Watch Movies Online</title>
    <link rel="icon"
        href="https://static.vecteezy.com/system/resources/previews/019/956/195/non_2x/netflix-transparent-netflix-free-free-png.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: black;
        }

        header {
            position: absolute;
            z-index: 1;
            width: 100%;
        }

        .banner {
            background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/fb5cb900-0cb6-4728-beb5-579b9af98fdd/web/IN-en-20250127-TRIFECTA-perspective_cf66f5a3-d894-4185-9106-5f45502fc387_large.jpg');
            /* position: relative;  */
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            top: 0;
            padding: 200px 0;
            background-color: rgba(0, 0, 0, 0.642);
            background-blend-mode: darken;
        }

        .banner-effect {
            box-sizing: border-box;
            position: absolute;
            height: 100%;
            top: 0;
            margin: auto;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border: solid .25rem transparent;
            border-top-left-radius: 50% 100%;
            border-top-right-radius: 50% 100%;
            border-bottom: none;
            background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .faq-item {
            border-bottom: 1px solid #e9ecef;
        }

        .faq-item:last-child {
            border-bottom: none;
        }

        .faq-question {
            padding: 20px;
            font-size: 18px;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            background-color: #2d2d2d;
            transition: background-color 0.3s ease;
        }

        .faq-question:hover {
            background-color: #2d2d2d;
        }

        .faq-answer {
            max-height: 0;
            overflow: hidden;
            padding: 0 20px;
            background-color: #2d2d2d;
            color: #fff !important;
            font-size: 18px;
            line-height: 1.6;
            transition: max-height 0.3s ease, padding 0.3s ease;
        }

        .faq-answer.open {
            max-height: 200px;
            /* Adjust for longer answers */
            padding: 15px 20px;
        }

        .arrow {
            font-size: 24px;
            transition: transform 0.3s ease;
        }

        .arrow.open {
            transform: rotate(45deg);
        }

        /* Responsive Design */
        @media (max-width: 768px) {
            .faq-question {
                font-size: 14px;
                padding: 15px;
            }

            .faq-answer {
                font-size: 13px;
            }
        }

        @media (max-width: 480px) {
            .faq-container {
                max-width: 90%;
            }
        }

        .footer {
            background-color: #2d2d2d56;
            padding-top: 50px;
        }

        .slider {
            display: flex;
            width: 100%;
            margin: 0 auto;
            overflow: hidden;
            padding: 20px 0;
        }

        .item {
            animation: animate 25s linear infinite;
        }

        .item img {
            width: 300px;
            height: 350px;
            object-fit: cover;
        }

        .slider:hover .item {
            animation-play-state: paused;
        }

        @keyframes animate {
            0% {
                transform: translate3d(0, 0, 0);
            }

            100% {
                transform: translate3d(-1800px, 0, 0);
            }
        }
    </style>
</head>

<body>
    <div>
        <header>
            <div class="container">
                <div class="d-flex align-items-center py-3">
                    <div class="col-2">
                        <div class="header-logo">
                            <img src="https://help.nflxext.com/helpcenter/OneTrust/oneTrust_production/consent/87b6a5c0-0104-4e96-a291-092c11350111/01938dc4-59b3-7bbc-b635-c4131030e85f/logos/dd6b162f-1a32-456a-9cfe-897231c7763c/4345ea78-053c-46d2-b11e-09adaef973dc/Netflix_Logo_PMS.png"
                                alt="" width="200px">
                        </div>
                    </div>
                    <div class="col-10 d-flex justify-content-end">
                        <div class="menu">
                            <ul style="list-style: none;" class="d-flex m-0">
                                <li class="px-2">
                                    <a href="#">
                                        <select name="translate" style="padding: 4px 10px; border-radius: 5px;">
                                            <option value=" English">English</option>
                                            <option value="Hindi">Hindi</option>
                                        </select>
                                    </a>
                                </li>
                                <li class="ps-2">
                                    <a href="#">
                                        <button
                                            style="background-color: red; color: white; border: red; padding: 4px 10px; border-radius: 5px;"><i
                                                class="fa-solid fa-user"></i></button>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="banner">
            <!-- <div class="banner-effect"></div> -->
            <div class="container">
                <div class="col-12">
                    <div class="banner-content text-light">
                        <h1 class="text-center display-2 fw-bolder">Unlimited movies, TV<br> shows and more</h1>
                        <p class="text-center" style="font-size: 1.3rem;">Starts at ₹149. Cancel at any time.</p>
                        <button
                            style="display: block; margin: 0 auto;background-color: red; padding: 10px 35px;border: 0; font-size: 18px; font-weight: 700;">
                            <a href="/crud" class="text-light text-decoration-none">Add Movie</a>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section style="padding-top: 100px;">
            <div class="container">
                <h2 class="text-light m-0">Trending Now</h2>
                <div class="slider">
                    <div class="item col-3"><a href=""><img
                                src="https://m.media-amazon.com/images/M/MV5BZjI1ZjM3NjUtYTc1Ni00ODJmLWI5YjQtMWZiZTAyNTFiZGY1XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg"
                                alt="" style="object-fit: cover;"></a></div>
                    <div class="item col-3"><a href=""><img
                                src="https://img.indiaforums.com/movie/350x525/7/306-sky-force.jpg?c=6mN077" alt=""
                                style="object-fit: cover;"></a></div>
                    <div class="item col-3"><a href=""><img
                                src="https://m.media-amazon.com/images/M/MV5BNjBkOGQ1OWYtMTg3NC00MTRmLWFhNGMtNDkyMzFmZDliMDlmXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg"
                                alt="" style="object-fit: cover;"></a></div>
                    <div class="item col-3"><a href=""><img src="https://static.toiimg.com/photo/113587323.cms" alt=""
                                style="object-fit: cover;"></a></div>
                    <div class="item col-3"><a href=""><img
                                src="https://preview.redd.it/official-poster-of-pushpa-2-the-rule-v0-3v9i0uxybisa1.png?auto=webp&s=2b83c12c0cc53d9772901124cca4c0b769b481f6"
                                alt="" style="object-fit: cover;"></a></div>
                    <div class="item col-3"><a href=""><img
                                src="https://m.media-amazon.com/images/M/MV5BZGI2ODcyODgtZTU5Ny00ODhjLThmZTctNWM2Y2NhOGNhOGNmXkEyXkFqcGc@._V1_.jpg"
                                alt="" style="object-fit: cover;"></a></div>
                    <div class="item col-3"><a href=""><img alt="logo"
                                src="https://graphicdesignjunction.com/wp-content/uploads/2024/08/movie-poster-15.jpg"></a>
                    </div>
                    <div class="item col-3"><a href=""><img alt="logo"
                                src="https://m.media-amazon.com/images/I/61OmlO9stnL._AC_UF894,1000_QL80_.jpg"></a>
                    </div>
                    <div class="item col-3"><a href=""><img alt="logo"
                                src="https://preview.redd.it/new-the-crow-2024-poster-has-been-released-also-the-movie-v0-2fbvs6j7dyad1.jpeg?width=640&crop=smart&auto=webp&s=3e6ec287dc1bc7d778abd69699e5d2508157d8bc"></a>
                    </div>
                    <div class="item col-3"><a href=""><img alt="logo"
                                src="https://i0.wp.com/www.socialnews.xyz/wp-content/uploads/2024/12/04/gdx_pjtwgaarqps6341191.jpg?quality=80&zoom=1&ssl=1"></a>
                    </div>
                    <div class="item col-3"><a href=""><img alt="logo"
                                src="https://static.wikia.nocookie.net/18aa68cd-96e5-461e-a549-5761a6a88f62/scale-to-width/755"></a>
                    </div>
                    <div class="item col-3"><a href=""><img alt="logo"
                                src="https://moviegalleri.net/wp-content/gallery/2024newyeartelugu/Asura-Gana-Rudra-Movie-New-Year-Wishes-Poster.jpg"></a>
                    </div>
                    <div class="item col-3"><a href=""><img alt="logo"
                                src="https://static.moviecrow.com/gallery/20240414/228349-Indian%202%20Kamal%20Haasan%20Senapathy.jpg"></a>
                    </div>
                    <div class="item col-3"><a href=""><img alt="logo"
                                src="https://d12d6l12s3d372.cloudfront.net/Fighter_movie_poster_193c114500.jpeg"></a>
                    </div>
                    <div class="item col-3"><a href=""><img alt="logo"
                                src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b05de1177157939.64d19b7d3081e.jpg"></a>
                    </div>
                    <div class="item col-3"><a href=""><img alt="logo"
                                src="https://i.pinimg.com/736x/a6/0d/58/a60d5899fff9d9050fd40287b736f18f.jpg"></a>
                    </div>
                </div>
            </div>
        </section>

        <section style="margin-top: 100px;">
            <div class="container">
                <div class="faq-container">
                    <h2 class="text-light mb-3">Frequently Asked Questions</h2>
                    <div class="faq-item">
                        <div class="faq-question">
                            <p class="text-light m-0">What is Netflix?</p>
                            <span class="arrow text-light">+</span>
                        </div>
                        <div class="faq-answer">
                            <p class="text-light">Netflix is a streaming service that offers a wide variety of
                                award-winning
                                TV shows, movies, anime, documentaries and more – on thousands of internet-connected
                                devices.</p>
                            <p class="text-light">You can watch as much as you want, whenever you want, without a single
                                ad
                                – all for one low monthly price. There's always something new to discover, and new TV
                                shows
                                and movies are added every week!</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-question">
                            <p class="text-light m-0">How much does Netflix cost?</p>
                            <span class="arrow text-light">+</span>
                        </div>
                        <div class="faq-answer">
                            <p class="text-light">Watch Netflix on your smartphone, tablet, Smart TV, laptop, or
                                streaming
                                device, all for one fixed monthly fee. Plans range from ₹149 to ₹649 a month. No extra
                                costs, no contracts.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-question">
                            <p class="text-light m-0">Where can i watch?</p>
                            <span class="arrow text-light">+</span>
                        </div>
                        <div class="faq-answer">
                            <p class="text-light">Watch anywhere, anytime. Sign in with your Netflix account to watch
                                instantly on the web at netflix.com from your personal computer or on any
                                internet-connected
                                device that offers the Netflix app, including smart TVs, smartphones, tablets, streaming
                                media players and game consoles.</p>
                            <p class="text-light">You can also download your favourite shows with the iOS or Android
                                app.
                                Use downloads to watch while you're on the go and without an internet connection. Take
                                Netflix with you anywhere.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-question">
                            <p class="text-light m-0">How do i cancel?</p>
                            <span class="arrow text-light">+</span>
                        </div>
                        <div class="faq-answer">
                            <p class="text-light">Netflix is flexible. There are no annoying contracts and no
                                commitments.
                                You can easily cancel your account online in two clicks. There are no cancellation fees
                                –
                                start or stop your account anytime.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-question">
                            <p class="text-light m-0">What can i watch on Netflix?</p>
                            <span class="arrow text-light">+</span>
                        </div>
                        <div class="faq-answer">
                            <p class="text-light">Netflix has an extensive library of feature films, documentaries, TV
                                shows, anime, award-winning Netflix originals, and more. Watch as much as you want,
                                anytime
                                you want.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-question">
                            <p class="text-light m-0">Is Netflix good for kids?</p>
                            <span class="arrow text-light">+</span>
                        </div>
                        <div class="faq-answer">
                            <p class="text-light">The Netflix Kids experience is included in your membership to give
                                parents
                                control while kids enjoy family-friendly TV shows and films in their own space.</p>
                            <p class="text-light">Kids profiles come with PIN-protected parental controls that let you
                                restrict the maturity rating of content kids can watch and block specific titles you
                                don’t
                                want kids to see.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section style="margin-top: 100px;" class="footer">
            <div class="container">
                <footer>
                    <div class="footer-img-slider d-flex justify-content-between justify-content-center py-3">
                        <div class="col-2">
                            <img src="https://m.media-amazon.com/images/M/MV5BZjI1ZjM3NjUtYTc1Ni00ODJmLWI5YjQtMWZiZTAyNTFiZGY1XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg"
                                alt="" width="200px" height="200px" style="object-fit: cover;">
                        </div>
                        <div class="col-2">
                            <img src="https://img.indiaforums.com/movie/350x525/7/306-sky-force.jpg?c=6mN077" alt=""
                                width="200px" height="200px" style="object-fit: cover;">
                        </div>
                        <div class="col-2">
                            <img src="https://upload.wikimedia.org/wikipedia/en/9/96/Yashoda_%28film%29_poster.jpeg"
                                alt="" width="200px" height="200px" style="object-fit: cover;">
                        </div>
                        <div class="col-2">
                            <img src="https://static.toiimg.com/photo/113587323.cms" alt="" width="200px" height="200px"
                                style="object-fit: cover;">
                        </div>
                        <div class="col-2">
                            <img src="https://preview.redd.it/official-poster-of-pushpa-2-the-rule-v0-3v9i0uxybisa1.png?auto=webp&s=2b83c12c0cc53d9772901124cca4c0b769b481f6"
                                alt="" width="200px" height="200px" style="object-fit: cover;">
                        </div>
                        <div class="col-2">
                            <img src="https://m.media-amazon.com/images/I/71iYQyC96sL._AC_UF894,1000_QL80_.jpg" alt=""
                                width="200px" height="200px" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="footer-social pb-3">
                        <div class="d-flex justify-content-center">
                            <div class="p-2 insta">
                                <a href="https://www.instagram.com/netflix/#" target="_blank"><i
                                        class="fa-brands fa-instagram text-light" style="font-size: 24px;"></i></a>
                            </div>
                            <div class="p-2 facebook">
                                <a href="https://www.facebook.com/netflix/" target="_blank"><i
                                        class="fa-brands fa-facebook text-light" style="font-size: 24px;"></i></a>
                            </div>
                            <div class="p-2 twit">
                                <a href="https://x.com/NetflixIndia?mx=2" target="_blank"><i
                                        class="fa-brands fa-twitter text-light" style="font-size: 24px;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-end d-flex align-items-center py-3" style="border-top: 2px solid #2d2d2d;">
                        <div class="col-2">
                            <h2 style="color: red;">NETFLIX</h2>
                        </div>
                        <div class="col-10">
                            <div class="menu">
                                <ul class="d-flex align-items-center justify-content-end m-0" style="list-style: none;">
                                    <li class="px-2">
                                        <a href="/"
                                            style="text-decoration: none; color: white; font-size: 18px;">Home</a>
                                    </li>
                                    <li class="px-2">
                                        <a href="#"
                                            style="text-decoration: none; color: white; font-size: 18px;">Movies</a>
                                    </li>
                                    <li class="px-2">
                                        <a href="#"
                                            style="text-decoration: none; color: white; font-size: 18px;">Events</a>
                                    </li>
                                    <li class="px-2">
                                        <a href="#"
                                            style="text-decoration: none; color: white; font-size: 18px;">Pages</a>
                                    </li>
                                    <li class="px-2">
                                        <a href="#"
                                            style="text-decoration: none; color: white; font-size: 18px;">News</a>
                                    </li>
                                    <li class="px-2">
                                        <a href="#"
                                            style="text-decoration: none; color: white; font-size: 18px;">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </section>



    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"
        integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- faq start -->
    <script>
        const faqItems = document.querySelectorAll('.faq-item');

        faqItems.forEach(item => {
            const question = item.querySelector('.faq-question');
            const answer = item.querySelector('.faq-answer');
            const arrow = item.querySelector('.arrow');

            question.addEventListener('click', () => {
                const isOpen = answer.classList.contains('open');

                // Close all open answers
                document.querySelectorAll('.faq-answer').forEach(a => a.classList.remove('open'));
                document.querySelectorAll('.arrow').forEach(a => a.classList.remove('open'));

                // Toggle current item
                if (!isOpen) {
                    answer.classList.add('open');
                    arrow.classList.add('open');
                }
            });
        });
    </script>
    <!-- faq end -->
</body>

</html>